.search-by-location-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search-container {
  margin-bottom: 20px;
}

.intro-text {
  text-align: left;
}

.error {
  color: red;
}

.search-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
}

.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
}

.overlay-logo {
  opacity: 30%;
}

input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-family: Poppins;
}

button {
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
}

.posts-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .search-by-location-content {
    padding: 1rem;
  }
  .search-input {
    flex-direction: column;
  }
  input[type="text"] {
    width: auto;
  }
}
