.flexInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.flexInput .label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.flexInput .label .labelInput {
  color: var(--cor-blue);
  font-weight: 400;
  font-size: 15px;
  font-family: "Inter";
}

.flexInput .label .input {
  outline: none;
  border: none;
  width: 100%;
  background: var(--cor-fundo);
  padding: 5px;
  border-radius: 5px;
  color: var(--cor-blue);
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.flexInput .label .input::placeholder {
  color: var(--cor-blue);
}

.flexInput .label .input:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flexInput .error {
  color: red;
}
