.grid-post {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 24px;
}

.post {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Inter, sans-serif;
  overflow: hidden;
}

.post-creator {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post-media {
  position: relative;
  background-color: black;
}

.time-ago {
  margin-bottom: 0;
  color: #00070E;
}

.post-image {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.post-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.post-icons .icon {
  pointer-events: auto;
}

.post-icons .post-icon {
  pointer-events: auto;
  cursor: pointer;
}

.like-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.post-icon {
  padding: 5px;
  border-radius: 50%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.post-icon img {
  width: 24px; 
  height: 24px; 
}

.post-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-content {
  padding: 16px;
}

.creator{
  color: #00070E;
  font-weight: bold;
  margin-bottom: 3px;
}

.username {
  font-weight: bold;
  margin-bottom: 8px;
}

.tags {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  color: #00070E;
}

.tag {
  background-color: #f2f2f2;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.description {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

@media (max-width: 768px) {
  .grid-post {
    grid-template-columns: 1fr; 
  }
}
